<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>AmigoProxy Client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">

</head>

<body class="pull_top">
  <h1>AmigoProxy Test Client</h1>

  <div class="not-responding">
    Proxy not responding.
  </div>

  <!-- Scripts -->
  <!-- <script src="{{ STATIC_URL }}homepage/js/theme.js"></script> -->

</body>
</html>
